@charset "UTF-8";

:root{
    --cores-dancantes: rgb(0, 255, 179),rgb(0, 247, 255),rgb(0, 119, 255),rgb(132, 0, 255);
}
{}
body{}

* {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
}

.conteudo__geral {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
    padding: 3rem;
}

.conteudo__geral:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
}

.conteudo__geral:hover .titulo__elemento {
    opacity: 1;
}

.conteudo__geral:hover>div {
    opacity: 1;
    transition-delay: 0s;
}

.conteudo__geral:hover .titulo__inicial {
    opacity: 0;
}

.elemento__2,
.elemento__3,
.elemento__4,
.elemento__1,
.elemento__5 {
    width: 200px;
    height: 110px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px 5px rgba(0, 255, 200, 0.589);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsla(0, 0%, 100%, 0);
    cursor: pointer;
    background-blend-mode: color-burn;

}

.elemento__2:hover,
.elemento__3:hover,
.elemento__4:hover,
.elemento__1:hover,
.elemento__5:hover {
    box-shadow: 0 0 30px 10px rgba(255, 0, 170, 0.973);
    background-color: rgba(255, 255, 255, 0);
}

.titulo__elemento {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 15px;
    position: absolute;
    will-change: transform;
    color: #00e1ff;
    text-decoration: underline;
}

.elemento__fotos {
    background-position-y: 15px;
}

.elemento__1 {
    transform: translateX(-100px) translateZ(-50px) rotateY(-10deg);
    background-image: url('imagens/elementos/NASA.gif');
    background-size: cover;
    background-position: center center;
}

.elemento__2 {
    transform: translateX(-50px) translateZ(-25px) rotateY(-5deg);
    background-image: url('imagens/elementos/SpaceX.gif');
    background-size: cover;
    background-position: center center;
}

.elemento__3 {
    opacity: 1;
    background-image: url('imagens/elementos/CNES.gif');
    background-size: cover;
    background-position: center center;
}

.elemento__4 {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url('imagens/elementos/JAXA.gif');
    background-size: cover;
    background-position: center center;
}

.elemento__5 {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url('imagens/elementos/ESA.gif');
    background-size: cover;
    background-position: center center;
}

.titulo__inicial {
    font-weight: 300;
    font-size: 2rem;
    color: #ffffff;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--cores-dancantes) );
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
    border-radius: 10px;
    text-shadow: 0 0 12px rgb(251, 255, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes degrade-animado {
    0%{background-position-x: 0%;}
    100%{background-position-x: 100%;}
}

h1{
    color: black;
}

p{
    color: black;
}